{% set title = room.name %}
{% extends "layout.html" %}
{% block content %}

<div class="chat" id="messages">
</div>

{% if not current_user.is_anonymous %}
<form autocomplete="off" id="form">
	{% for field in message_form %}
		{{ field.label if not field.flags.hidden }} {{ field }}<br>
	{% endfor %}
	<input id="submit" tabindex="0" type="submit">
</form>
{% else %}
<p>Please login <a href="{{ url_for('login') }}">here</a> to send messages!</p>
{% endif %}

<script src="{{ url_for('static', filename='js/jquery.min.js') }}"></script>
<script>

	{# https://stackoverflow.com/questions/18169933/submit-form-without-reloading-page #}
	$("#submit").click(function() {

		var url = "/{{ room.id }}/send_message"; // the script where you handle the form input.

		$.ajax({
			   type: "POST",
			   url: url,
			   data: $("#form").serialize(), // serializes the form's elements.
			   success: function(data)
			   {
			   		{# https://stackoverflow.com/questions/20416803/how-do-i-clear-the-previous-text-field-value-after-submitting-the-form-with-out #}
					document.getElementById("content").value = ''; // clear message field
					getMessages();
			   }
			 });

		return false; // avoid to execute the actual submit of the form.
	});

	function getMessages() {
		fetch('/get_messages/{{ message_form.room_id.data }}')
			.then(response => response.json())
			.then(messages => {
				let messageList = ""
				for (let i = 0; i < messages.length; i++) {
					let sender = messages[i].sender;
					let content = messages[i].content;
					let sent_time = messages[i].sent_time;
					messageList += /* man i hate javascript */
						"<p><b>" + sent_time + " " + "<a href='/user/" + sender + "'>" + sender + "</a>" + ": </b>" + content + "</p>"
				}
				document.getElementById("messages").innerHTML = messageList


				var objDiv = document.getElementById("messages");
				objDiv.scrollTop = objDiv.scrollHeight;
			})
			.catch((error) => {});
	}

	{# https://developer.mozilla.org/en-US/docs/Web/API/Window/load_event #}
	window.addEventListener('load', (event) => {
		getMessages();
	});


	{# https://www.codegrepper.com/code-examples/javascript/javascript+request+every+second #}
	setInterval(getMessages, 5000 /* milliseconds */ );
</script>

{% endblock content %}