{% set title = room.name %}
{% extends "layout.html" %}
{% block content %}

<div class="text-light overflow-auto chat-box" id="messages"></div>

{% if not current_user.is_anonymous %}
<form autocomplete="off" id="form">
	{{ message_form.room_id }}
	<input id="content" name="content" required="" type="text" onFocus="scrollDown()">
	{{ message_form.csrf_token }}
	<input id="submit" tabindex="0" type="submit" value="Send Message">
</form>
{% else %}
<p class="text-light">Please login <a class="link-light" href="{{ url_for('login') }}">here</a> to send messages!</p>
{% endif %}

<script src="{{ url_for('static', filename='js/jquery.min.js') }}"></script>
<script>

	{# https://stackoverflow.com/questions/18169933/submit-form-without-reloading-page #}
	$("#submit").click(function() {

		var url = "/{{ room.id }}/send_message"; // the script where you handle the form input.

		$.ajax({
			   type: "POST",
			   url: url,
			   data: $("#form").serialize(), // serializes the form's elements.
			   success: function(data)
			   {
			   		{# https://stackoverflow.com/questions/20416803/how-do-i-clear-the-previous-text-field-value-after-submitting-the-form-with-out #}
					document.getElementById("content").value = ''; // clear message field
					getMessages();
			   }
			 });

		return false; // avoid to execute the actual submit of the form.
	});

	function scrollDown() {
		var objDiv = document.getElementById("messages");
		objDiv.scrollTop = objDiv.scrollHeight;
	}

	function getMessages() {
		fetch('/get_messages/{{ message_form.room_id.data }}')
			.then(response => response.json())
			.then(messages => {
				let messageList = ""
				for (let i = 0; i < messages.length; i++) {
					let sender = messages[i].sender;
					let content = messages[i].content;
					let sent_time = messages[i].sent_time;
					messageList += /* man i hate javascript */
						"<p><b>" + sent_time + " " + "<a class='link-light' href='/user/" + sender + "'>" + sender + "</a>" + ": </b>" + content + "</p>"
				}
				document.getElementById("messages").innerHTML = messageList
				scrollDown();
			})
			.catch((error) => {});
	}

	{# https://developer.mozilla.org/en-US/docs/Web/API/Window/load_event #}
	window.addEventListener('load', (event) => {
		getMessages();
	});


	{# https://www.codegrepper.com/code-examples/javascript/javascript+request+every+second #}
	setInterval(getMessages, 5000 /* milliseconds */ );
</script>

{% endblock content %}