{% set title = "Chat Rooms" %}
{% extends "layout.html" %}
{% block content %}

<a class="link-dark" href="{{ url_for('add_room') }}">Add a new room!</a>

<table class="table table-dark table-striped">
	<tr>
		<th>Name</th>
		<th>Description</th>
		<th>Owner</th>
	</tr>
{% for room in rooms %}
	<tr>
		<td><a class="link-light" href="{{ url_for('chat_room', room_name=room.name) }}">{{ room.name }}</a></td>
		<td>{{ room.description }}</td>
		<td>{{ room.owner.username }}</td>
	</tr>
{% endfor %}
</table>

{% endblock content %}