<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		{% set title = "Welcome" if not title else title %}
		<title>{{ title }}</title>
		<style>
			{% include "style.css" %}
		</style>
	</head>
	<body>
		<nav>
			<ul>
				<li><a href="{{ url_for('home') }}">Home</a></li>
				<li><a href="{{ url_for('chat_rooms') }}">Chat Rooms</a></li>
				{# https://flask-login.readthedocs.io/en/latest/ #}
				{% if current_user.is_authenticated %}
					<li><a href="{{ url_for('profile_page', username=current_user.username) }}">{{ current_user.username }}</a></li>
					<li><a href="{{ url_for('logout') }}">Logout</a></li>
				{% else %}
					<li><a href="{{ url_for('login') }}">Login</a></li>
					<li><a href="{{ url_for('register_user') }}">Register</a></li>
				{% endif %}
			</ul>
		</nav>
		<div class="content">
			<h1>{{ title }}</h1>
			{% for message in get_flashed_messages() %}
				<p><b>{{ message }}</b></p>
			{% endfor %}
			{% block content %}{% endblock content %}
		<div>
	</body>
</html>