{% set title = "Login" %}
{% extends "layout.html" %}
{% block content %}


<form method="POST">
	{% for field in user_form %}
		{% for err in field.errors %}
			<p>{{ err }}</p>
		{% endfor %}
		{#{{ field.label if not field.flags.hidden }} {{ field }}<br>#}
	{% endfor %}

	{# More control without a for loop here #}
	{{ user_form.username.label }} {{ user_form.username }}<br>
	{{ user_form.password.label }} {{ user_form.password }}<br>
	{{ user_form.csrf_token }}
	<a class="link-dark" href="{{ url_for('forgot_password') }}">Forgot password?</a><br>
	<input type="submit">
</form>

{# use this after dealing with content block
<main class="form-signin">
  <form>
    <img class="mb-4" src="/docs/5.0/assets/brand/bootstrap-logo.svg" alt="" width="72" height="57">
    <h1 class="h3 mb-3 fw-normal">Please sign in</h1>

    <div class="form-floating">
      <input type="email" class="form-control" id="floatingInput" placeholder="name@example.com">
      <label for="floatingInput">Email address</label>
    </div>
    <div class="form-floating">
      <input type="password" class="form-control" id="floatingPassword" placeholder="Password">
      <label for="floatingPassword">Password</label>
    </div>

    <div class="checkbox mb-3">
      <label>
        <input type="checkbox" value="remember-me"> Remember me
      </label>
    </div>
    <button class="w-100 btn btn-lg btn-primary" type="submit">Sign in</button>
    <p class="mt-5 mb-3 text-muted">&copy; 2017–2021</p>
  </form>
</main>
#}


{% endblock content %}