{% set title = "Register" %}
{% extends "layout.html" %}
{% block content %}

{# https://getbootstrap.com/docs/4.1/examples/sign-in/ #}
<main class="form-signin">
  <div class="form">
	  <form autocomplete="off" method="POST">
		<h1 class="text-light text-center h3 mb-3 fw-normal">Create a new user!</h1>

		{% for field in user_form %}
			{% for err in field.errors %}
				<p>{{ err }}</p>
			{% endfor %}
		{% endfor %}

		<div class="text-dark form-floating">
		  <input type="text" class="form-control" id="floatingInputUser" placeholder="Username" name="username">
		  <label for="floatingInput">Username</label>
		</div>
		<div class="text-dark form-floating">
		  <input type="email" class="form-control" id="floatingInputEmail" placeholder="potato@example.com" name="email">
		  <label for="floatingInput">Email (Optional)</label>
		</div>
		<div class="text-dark form-floating">
		  <input type="password" class="form-control" id="floatingPassword" placeholder="Password" name="password">
		  <label for="floatingPassword">Password</label>
		</div>
		<div class="text-dark form-floating">
		  <input type="password" class="form-control" id="floatingConfirmPassword" placeholder="Confirm Password" name="confirm_password">
		  <label for="floatingPassword">Confirm Password</label>
		</div>

		{{ user_form.csrf_token }}
		<button class="w-100 btn btn-lg btn-primary" type="submit">Sign in</button>
	  </form>
  </div>
</main>

{% endblock content %}