
@font-face {
	font-family: cascadia;
	src: url("/static/styles/CascadiaMonoPL.woff2");
	font-display: swap;
}

body {
	font-family: cascadia !important;
}

.content {
	margin: auto;
	padding: 5px;
	background-color: #b3b3b3;
	max-width: 100%;
}

.content h1 {
	text-align: center;
	padding: 20px;
	font-size: 30px;
}

.chat-box {
	max-height: 60vh;
}

/*
Yoink
https://www.w3schools.com/howto/howto_css_hide_scrollbars.asp
*/

/* Hide scrollbar for Chrome, Safari and Opera */
.chat::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.chat {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}

/* Yoink
https://www.w3schools.com/css/css_navbar_horizontal.asp
*/

ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
	background-color: #333;
}

li {
  float: left;
}

li a {
	display: block;
	color: white;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
}

li a:hover:not(.active) {
	background-color: #111;
}

.active {
	background-color: #04AA6D;
}


/*
Yoink
https://www.w3schools.com/css/css_table.asp
*/
table {
  font-family: Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

table td, table th {
  border: 1px solid #ddd;
  padding: 8px;
}

table tr:nth-child(even){background-color: #f2f2f2;}

table tr:hover {background-color: #ddd;}

table th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #333;
  color: white;
}

/* end */

@media (min-width: 576px) {
	
	nav {
		font-size: 30px;
	}

	.content h1 {
		text-align: center;
		padding: 20px;
		font-size: 60px;
	}

	.chat {
		margin: auto;
		max-height: 50vh;
		width: 75%;
		word-wrap: break-word;
		overflow: auto;
		padding: 2%;
	}

	.content {
		margin: auto;
		padding: 15px;
		margin-top: 30px;
		background-color: #b3b3b3;
		max-width: 80%;
	}

	.main-navbar {
		margin-bottom: 60px;
	}

}