{% extends "layout.html" %}
{% block content %}

<p>Hello Forms</p>

<form method="POST">
	{% for field in product_form %}
		
		<p>
		{# https://wtforms.readthedocs.io/en/2.3.x/fields/#wtforms.fields.Field.flags #}
		{% if not field.flags.hidden %}
			{{ field.label }}: {{ field(placeholder=field.name) }}
		{% else %}
			{# https://betterprogramming.pub/how-to-use-flask-wtforms-faab71d5a034 #}
			{{ field }}
		{% endif %}
		</p>
	{% endfor %}
	<input type="submit">
</form>

{% endblock content %}