{% extends "layout.html" %}
{% block content %}

<p>Hello Forms</p>

{% with messages = get_flashed_messages() %}
	{% if messages %}
		{% for message in messages %}
			<p>{{ message }}</p>
		{% endfor %}
	{% endif %}
{% endwith %}

<form method="POST">
	{% for field in product_form %}
		
		{# https://wtforms.readthedocs.io/en/2.3.x/fields/#wtforms.fields.Field.flags #}
		{% if not field.flags.hidden %}
		<p>
			{{ field.label }}:
		{% endif %}

		{# https://betterprogramming.pub/how-to-use-flask-wtforms-faab71d5a034 #}
		{{ field(placeholder=field.name) }}</p>
	{% endfor %}
	<input type="submit">
</form>

{% endblock content %}